{% extends 'base.html.twig' %}

{% block title %}LOGIN{% endblock %}

{% block body %}
    <body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
        <div class="d-flex flex-column flex-root">
            <!--begin::Login-->
            <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
                <!--begin::Aside-->
                <!--begin::Content-->
                <div class="d-flex flex-column flex-row-fluid position-relative p-7 overflow-hidden">
                    <!--begin::Content body-->
                    <div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">
                        <!--begin::Signin-->
                        <div class="login-form login-signin">
                            <div class="text-center mb-10 mb-lg-20">
                                <h3 class="font-size-h1">LOGIN</h3>
                                <p class="text-muted font-weight-bold">Enter your email and password</p>
                            </div>
                            <!--begin::Form-->
                            <form method="post" class="form">
                                {% if error %}
                                    {% if error.messageData['type'] is defined and error.messageData['email'] is defined %}
                                        <div class="alert alert-danger">
                                            {{ error.messageKey|trans(error.messageData, 'security') }}.
                                            <a href="#" onclick="sendConfirmEmail('{{ error.messageData['email'] }}')">
                                                Send the email again.
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                {% endif %}
                                <div class="form-group">
                                    <input class="form-control form-control-solid h-auto py-5 px-6"  autocomplete="off" type="email" value="{{ last_username }}" name="email" placeholder="email" id="inputEmail" />
                                </div>

                                <div class="form-group">
                                    <span class="d-flex" style="position: relative" id="show_hide_password">
                                        <input class="form-control form-control-solid h-auto py-5 px-6"  autocomplete="off" type="password" placeholder="password" name="password" id="inputPassword" />
                                    <div class="input-group-addon w-50px h-100 d-flex align-items-center justify-content-center" style="position: absolute; right: 0">
                                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                    </span>

                                </div>
                                <input type="hidden" name="_csrf_token"
{#                                       value="{{ csrf_tokenm('authenticate') }}"#}
                                >
                                <!--begin::Action-->
                                <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                                    <a href="{{ path('app_forgot_password_request') }}" class="text-dark-50 text-hover-primary my-3 mr-2" id="kt_login_forgot">Recover password</a>
                                    <button type="submit" id="kt_login_signin_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3">LOGIN</button>
                                </div>
                                <!--end::Action-->
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Signin-->

                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}

{% block javascripts %}
{% endblock %}