{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('build/css/request.css') }}">
    <body>
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <div class="mainWrapper">
            <div class="authBlock">
                <div class="registrationBlock">
                    <img style="width: 65px; height: 65px;"
                         src="{{ asset('build/images/logo.svg') }}">
                    <h1 class="title">Restore your password</h1>
                    <div style="max-width: 280px; margin: 0 auto">
                        {{ form_start(requestForm) }}
                        <div id="inputContainer">
                            {{ form_row(requestForm.email) }}
                        </div>
                        <button class="mainButton">Submit</button>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        document.querySelector('#inputContainer').children[0].classList.add('input-field');
        document.querySelector('.input-field').children[0].style = 'font-weight: 500;font-size: 16px;line-height: 140%;color: #48525B;';
        document.querySelector('.input-field').children[0].textContent = 'Your email';
        document.querySelector('.input-field').children[1].style = 'border-bottom: 1px solid #0098CB; font-size: 16px;font-weight: 500;color: #48525B;';
    </script>
{% endblock %}
